@font-face {
  font-family: "Rick and Morty";
  font-style: normal;
  font-weight: normal;
  src: url("./ram.ttf");
}

.character-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.character-card img {
  max-width: 100%;
  border-radius: 10px;
}

.character-card h2 {
  margin-top: 0;
}

.character-card h1 {
  font-family: "Rick and Morty";
  color: rgb(13, 209, 78);
}

.character-card p {
  margin: 5px 0;
  font-family: monospace;
  font-size: 20px;
}

.card-container {
  background-image: url("RickAndMortyBackground.jpg");
  background-size: cover;
  padding: 20px;
  font-family: "Rick and Morty";
  color: rgb(12, 70, 104);
  text-align: center;
}

.card-row {
  display: flex;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  width: calc(25% - 20px); /* 25% width with 20px margin */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(131, 129, 97);
}
